[project]
name = "kaggle-5-days-ai"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "google-adk>=1.18.0",
    "python-dotenv>=1.2.1",
]

[dependency-groups]
dev = [
    "ty>=0.0.1a25",
]
